fullnameOverride: prometheus-exporter-tailscale

serviceMonitor:
  enabled: true
  additionalLabels:
    prometheus.io/monitor: "true"
  relabelings:
    - action: replace
      replacement: adin
      targetLabel: tailscale_machine

env:
  - name: TAILSCALE_OAUTH_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: oauth-config
        key: client_id
  - name: TAILSCALE_OAUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: oauth-config
        key: client_secret
  - name: TAILSCALE_TAILNET
    valueFrom:
      secretKeyRef:
        name: oauth-config
        key: tailnet

resources:
  requests:
    cpu: 5m
    memory: 64Mi
  limits:
    cpu: 20m
    memory: 256Mi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: DoesNotExist
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: tailscale-exporter
          topologyKey: kubernetes.io/hostname

topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: topology.kubernetes.io/zone
    whenUnsatisfiable: DoNotSchedule
    labelSelector:
      matchLabels:
        app.kubernetes.io/name: tailscale-exporter
