apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflare-vrsfactory
  labels:
    app.kubernetes.io/name: cloudflare-tunnel-remote
    app.kubernetes.io/instance: cloudflare-vrsfactory
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudflare-tunnel-remote
      app.kubernetes.io/instance: cloudflare-vrsfactory
  replicas: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cloudflare-tunnel-remote
        app.kubernetes.io/instance: cloudflare-vrsfactory
    spec:
      containers:
        - name: controller
          image: cloudflare/cloudflared:2025.11.1
          command:
            - cloudflared
            - tunnel
            - --no-autoupdate
            - --metrics
            - 0.0.0.0:2000
            - run
          args:
            - --token
            - $(TOKEN)
          livenessProbe:
            httpGet:
              path: /ready
              port: 2000
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: 5m
              memory: 32Mi
            limits:
              cpu: 15m
              memory: 128Mi
          envFrom:
            - secretRef:
                name: cloudflare-vrsfactory-config
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
              weight: 100
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: cloudflare-tunnel-remote
                  app.kubernetes.io/instance: cloudflare-vrsfactory
              topologyKey: kubernetes.io/hostname
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: cloudflare-tunnel-remote
              app.kubernetes.io/instance: cloudflare-vrsfactory
