common:
  fullnameOverride: dependency-track

  secretKey:
    createSecret: true
    # existingSecret:

apiServer:
  resources:
    requests:
      cpu: 2000m
      memory: 2048Mi
    limits:
      cpu: 2000m
      memory: 3072Mi

  serviceMonitor:
    enabled: true
    labels:
      prometheus.io/monitor: "true"

  extraEnv:
    - name: EXTRA_JAVA_OPTIONS
      value: "-Xmx2g"
      # value: "-Xmx2g -DdependencyTrack.logging.level=DEBUG"
    # - name: LOGGING_LEVEL
    #   value: DEBUG
    - name: SYSTEM_REQUIREMENT_CHECK_ENABLED
      value: "false"
    #
    - name: ALPINE_OIDC_ENABLED
      value: "true"
    - name: ALPINE_OIDC_ISSUER
      value: https://id.vrs-factory.dev
    - name: ALPINE_OIDC_CLIENT_ID
      value: 4ccb7521-06f8-4006-9710-65a54eee445c
    - name: ALPINE_OIDC_CLIENT_SECRET
      value: YlEgsFYQb5irk6wOgSKxLWLchmjIvgL5
    - name: ALPINE_OIDC_USERNAME_CLAIM
      value: email
    - name: ALPINE_OIDC_TEAMS_CLAIM
      value: groups
    - name: ALPINE_OIDC_TEAM_SYNCHRONIZATION
      value: "true"
    - name: ALPINE_OIDC_USER_PROVISIONING
      value: "true"

  persistentVolume:
    enabled: true

frontend:
  extraEnv:
    - name: OIDC_ISSUER
      value: https://id.vrs-factory.dev
    - name: OIDC_CLIENT_ID
      value: 4ccb7521-06f8-4006-9710-65a54eee445c
    - name: OIDC_SCOPE
      value: "openid profile email groups"
