common:
  fullnameOverride: dependency-track

  secretKey:
    createSecret: true

apiServer:
  resources:
    requests:
      cpu: 2000m
      memory: 2048Mi
    limits:
      cpu: 2000m
      memory: 3072Mi

  serviceMonitor:
    enabled: true
    namespace: dependency-track
    labels:
      prometheus.io/monitor: "true"

  extraEnv:
    - name: EXTRA_JAVA_OPTIONS
      value: "-Xmx2g"
    - name: SYSTEM_REQUIREMENT_CHECK_ENABLED
      value: "false"
    - name: ALPINE_OIDC_ISSUER
      valueFrom:
        secretKeyRef:
          name: oidc-config
          key: OIDC_ISSUER
    - name: ALPINE_OIDC_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: oidc-config
          key: OIDC_CLIENT_ID
    - name: ALPINE_OIDC_ENABLED
      value: "true"
    - name: ALPINE_OIDC_USERNAME_CLAIM
      value: email
    - name: ALPINE_OIDC_TEAMS_CLAIM
      value: groups
    - name: ALPINE_OIDC_TEAM_SYNCHRONIZATION
      value: "true"
    - name: ALPINE_OIDC_USER_PROVISIONING
      value: "true"

  persistentVolume:
    enabled: true

frontend:
  extraEnvFrom:
    - secretRef:
        name: oidc-config
