image:
  repository: grafana/grafana-enterprise
  tag: 12.2.2

resources:
  requests:
    cpu: 100m
    memory: 192Mi
  limits:
    cpu: 500m
    memory: 768Mi

replicas: 1

deploymentStrategy:
  type: Recreate # Fix bug with not rolling the old pod

serviceMonitor:
  enabled: true
  labels:
    prometheus.io/monitor: "true"

grafana.ini:
  server:
    root_url: https://grafana.vrsf.in
  analytics:
    check_for_updates: false
  feature_toggles:
    provisioning: true
    kubernetesDashboards: true

envFromSecret: "grafana-database"

imageRenderer:
  enabled: true

persistence:
  enabled: true
  storageClassName: csi-nfs
  size: 20Gi
  accessModes:
    - ReadWriteMany

admin:
  existingSecret: grafana-admin-credentials
  userKey: adminUser
  passwordKey: adminPassword

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: DoesNotExist

topologySpreadConstraints:
  - labelSelector:
      matchLabels:
        app.kubernetes.io/name: grafana
        app.kubernetes.io/instance: grafana
    topologyKey: topology.kubernetes.io/zone
    maxSkew: 1
    whenUnsatisfiable: ScheduleAnyway
  - labelSelector:
      matchLabels:
        app.kubernetes.io/name: grafana
        app.kubernetes.io/instance: grafana
    topologyKey: kubernetes.io/hostname
    maxSkew: 1
    whenUnsatisfiable: ScheduleAnyway
