apiVersion: v1
kind: Service
metadata:
  name: {{include "tailscale-exporter.fullname" .}}
  namespace: {{.Release.Namespace}}
  labels: {{- include "tailscale-exporter.labels" . | nindent 4}}
spec:
  type: {{.Values.service.type}}
  ports:
    - port: {{.Values.service.port}}
      targetPort: http
      protocol: TCP
      name: http
  selector: {{- include "tailscale-exporter.selectorLabels" . | nindent 4}}
