gitlabUrl: https://gitlab.com/

rbac:
  create: true

replicas: 2

metrics:
  enabled: true

  # Service Monitor is deployed from resources to match labels.

service:
  enabled: true

readinessProbe:
  initialDelaySeconds: 30
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 3

runners:
  secret: gitlab-runner

  cache:
    secretName: s3access

  config: |
    [[runners]]
      [runners.kubernetes]
        namespace = "{{.Release.Namespace}}"
        image = "ubuntu:24.04"
        privileged = true
        wait_for_services_timeout = 60

        [[runners.kubernetes.volumes.empty_dir]]
          name = "docker-certs"
          mount_path = "/certs/client"
          medium = "Memory"

        [[runners.kubernetes.volumes.host_path]]
          name = "buildah"
          mount_path = "/var/lib/containers/"
          read_only = false

        [runners.kubernetes.pod_labels]
          "app" = "{{.Release.Name}}"

        [runners.kubernetes.affinity]
          [runners.kubernetes.affinity.node_affinity]
            [runners.kubernetes.affinity.node_affinity.required_during_scheduling_ignored_during_execution]
              [[runners.kubernetes.affinity.node_affinity.required_during_scheduling_ignored_during_execution.node_selector_terms]]
                [[runners.kubernetes.affinity.node_affinity.required_during_scheduling_ignored_during_execution.node_selector_terms.match_expressions]]
                  key = "node-role.kubernetes.io/control-plane"
                  operator = "DoesNotExist"

      [runners.cache]
        Type = "s3"
        Shared = true
        [runners.cache.s3]
          ServerAddress = "s3.minio.vrsf.in"
          BucketName = "gitlab-runners-cache"
          BucketLocation = "vrs-central"
          Insecure = false

topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: topology.kubernetes.io/zone
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        app: gitlab-runners

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: DoesNotExist
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app: gitlab-runners
          topologyKey: kubernetes.io/hostname

resources:
  requests:
    memory: 256Mi
    cpu: 200m
  limits:
    memory: 2048Mi
    cpu: 1000m
